@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Faculty Glyphic", sans-serif;
}


body {
    background-color: black;
    color: white; /* Color de texto blanco por defecto */
    font-family: 'Noto Serif SC', serif;
    margin: 0;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.btnREGRESAR {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido (el botón) al inicio (izquierda) del contenedor */
}
.btnRegresarContent{
    background-color: rgb(255, 241, 41) !important;
}

.trailer{
    width: 100%;
}

.main {
    display: flex;
    justify-content: center; /* Centra el contenido del main horizontalmente */
    align-items: center; /* Centra el contenido del main verticalmente */
    width: 80%; /* Ajusta el ancho según sea necesario */
    height: auto;
    padding: 20px;
    border-radius: 30px; /* Redondea el contorno */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra alrededor del contorno */
    text-align: center; /* Asegura que el texto dentro de article se centre */
    object-fit: cover;
}



  
.titleYellow {
    color: yellow; /* Título amarillo */
}


/* Asegúrate de que el contenedor ocupe todo el espacio posible */
.contentVideo {
   width: 100;
   height: 100%;
    
    overflow: hidden; /* Para evitar el desbordamiento si el video es más grande */
    display: flex;
    justify-content: center;
}

.contentVideo video {
    width: 60em; /* Hace que el video ocupe todo el ancho del contenedor */
    height: 29em; /* Hace que el video ocupe toda la altura del contenedor */
    
    border: 5px dashed yellow; /* Borde amarillo rayado */
    border-radius: 10px;
}


.textTrailer {
    display: flex; /* Activamos flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Centra el texto */
    flex-direction: column; /* Alinea los elementos verticalmente */
}

.titleYellow {
    color: yellow; /* Título amarillo */
    font-size: 4em;
    width: 100%;
}

.textTrailer p { 
    color: white; /* Texto blanco */
    font-size: 1.5em;
    width: 97%;
}

.trailersContent {
    height: 100%;
    width: 100%;
    
}

.video-container{
    height: 100%;
    width: 100%;
}

/* titulo y texto */
@media (max-width: 1610px){
    .titleYellow{
        font-size: 3.1em;
    }

    .textTrailer p{
        font-size: 1.3em;
        width: 100%;
    }
}

@media (max-width: 1150px){
    .titleYellow{
        font-size: 2.9em;
    }

    .textTrailer p{
        font-size: 1.2em;
    }
}

@media (max-width: 880px){
    .titleYellow{
        font-size: 2.5em;
        text-align: center;
    }
}

@media (max-width: 690px){
    .titleYellow{
        font-size: 2em;
    }

    .textTrailer p{
        font-size: 1.1em;
    }
}

@media (max-width: 545px){
    .titleYellow{
        font-size: 1.5em;
    }

    .textTrailer p{
        font-size: 0.9em;
    }
}


/* video width */
@media (max-width: 1450px){
    .contentVideo video{
        width: 50em;
    }
}

@media (max-width: 1260px){
    .contentVideo video {
        width: 45em;
    }
}

@media (max-width: 1140px){
    .contentVideo video {
        width: 37em;
    }
}

@media (max-width: 980px){
    .contentVideo video {
        width: 34em;
        height: 100%;
    }
}

@media (max-width: 840px){
    .contentVideo video{
        width: 29em;
    }
}

@media (max-width: 740px){
    .contentVideo video{
        width: 20em;
    }
}

@media (max-width: 545px){
    .contentVideo video{
        width: 17em;
    }
}

@media (max-width: 490px){
    .contentVideo video{
        width: 14em;
    }
}

@media (max-width: 410px){
    .contentVideo video{
        width: 12em;
    }
}

/* boton regresar */
@media (max-width: 740px){
    .btnRegresar{
        font-size: 1px;
    }
    .btnRegresarContent{
        width: 100%;
        font-size: 3px;
    }
}

@media (max-width: 670px){
    .btnRegresarContent {
        font-size: 4px; /* Reduce el tamaño de la fuente */
        padding: 2px 6px; /* Ajusta el espacio interno */
        width: auto; /* Deja que el ancho se ajuste al contenido */
        height: auto; /* Ajusta automáticamente el alto */
        line-height: normal; /* Ajusta la altura de línea */
    }
    
}